doctype html
html
  head
    title #{data.proyecto}
    link(href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css", rel="stylesheet", integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm", crossorigin="anonymous")
    style
      include style2.css
  body
    .container 
        .row 
            .col-centered.col-md-5.col-xs-6
                h1 #{data.proyecto}
                br
                .carousel.carousel-dark.slide(id="carouselExampleControls" data-ride="carousel" data-interval='1500')
                    //- Indicadores
                    ol.carousel-indicators
                        each item,index in data.productos 
                            if(index === 0)
                                li.active(data-target="#carousel-" + id, data-slide-to=index)
                            else
                                li(data-target="#carousel-" + id, data-slide-to=index)
                        //- Indicador para el elemento video
                        li(data-target="#carrousel-" + id, data-slide-to=(index+1))
                    .carousel-inner
                        each link, index in data.productos 
                            //- Para el primer elemento
                            if(index===0)
                                .carousel-item.active
                                    a(href= link.srcUrl, target="_blank") 
                                        img(class="d-block w-100" src=link.image alt="First slide")
                            //- Siguientes n-1 elementos
                            else
                                .carousel-item
                                    a(href= link.srcUrl, target="_blank") 
                                        img(class="d-block w-100" src=link.image alt="second slide")
                        //- Video de Youtube
                        .carousel-item.responsiveContent
                            a(href=data.HUM.ytUrl)
                                iframe(src=data.HUM.iframeUrl, frameborder="0", allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share") 
                    //- Controles del Carrusel        
                    a(class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev")
                        span(class="carousel-control-prev-icon" aria-hidden="true")
                        span(class="sr-only") Anterior
                    a(class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next")
                        span(class="carousel-control-next-icon" aria-hidden="true")
                        span(class="sr-only") Siguiente

    //- Scripts de Bootstrap
    script(src="https://code.jquery.com/jquery-3.2.1.slim.min.js", integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN", crossorigin="anonymous") 
    script(src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js", integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q", crossorigin="anonymous") 
    script(src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js", integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl", crossorigin="anonymous") 






